.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.landing-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10%;
  height: 200px;
  width: 100%;
}

.landing-message {
  position: absolute;
  top: 15%;
  width: 100%;
  color: #E8E8E8;
  font-size: 64px;
  text-shadow: 2px 2px black;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.get-started {
  position: absolute;
  top: 65%;
  background-color: #098A52;
  color: #FFFFFF;
  height: 55px;
  width: 225px;
  box-shadow: 2px 2px 5px black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
}

.get-started:hover{
  cursor: pointer;
  filter: brightness(90%);
  transition: filter 0.3s ease-in-out;
}

.ReactModal__Content span {
  position: absolute;
  height: 304px;
  width: 504px;
}

.auth-form {
  position: absolute;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  border: 2px solid black;
  background-color: #f6f3fa;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  transition: 1s;
}

.tabs {
  position: absolute;
  top: 0;
  height: 15%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.input-fields {
  position: absolute;
  height: 85%;
  width: 100%;
  bottom: 0;
}

.errors-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
  opacity: 1;
  transition: opacity 1s;
}

.errors-container .errors {
  color: red;
  font-size: 16px;
  opacity: 1;
}

.errors li {
  padding: 3px;
}

.text-inputs {
  height: 55%;
  width: 100%;
}

.buttons {
  height: 30%;
  width: 100%;
}

.input-fields input[type=submit] {
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px 40px;
  font-size: 16px;
  width: 33%;
}

.input-fields input[type=text], input[type=password] {
  padding: 6px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f9f7ff;
  font-size: 16px;
}

.demo-button {
  background-color: #098A52;
  color: #FFFFFF;
}
