.navbar {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 75px;
  font-size: 20px;
  background-color: #4B6290;
  color: #E8E8E8;
  flex: 1 100% auto;
}

.logo {
  padding: 26.5px;
  font-weight: bold;
}

.logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 7%;
  height: 7%;
  z-index: 999;
}

.nav-buttons {
  align-self: center;
}

.nav-button {
  padding: 26.5px;
  color: #E8E8E8;
  transition: background-color .25s, border .5s, ease-in-out;
}

.nav-button:hover {
  background-color: #39427a;
  opacity: 1;
  transition: background-color .75s, border 1s, ease-in-out;
}
