.navbar {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 75px;
  font-size: 20px;
  background-color: #4B6290;
  color: #E8E8E8;
  flex: 1 100% auto;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
}

.logo-text {
  font-family: 'Satisfy', cursive;
  text-shadow: 2px 2px black;
  padding: 15px;
  font-size: 50px;
  font-weight: bold;
}

.logo img {
  background-color: #fafffa;
  border: 2px transparent;
  border-radius: 50%;
}

.nav-buttons {
  position: absolute;
  top: -46.5px;
  right: 0;
}

.nav-button {
  padding: 28px;
  color: #E8E8E8;
  transition: background-color .25s, border .5s, ease-in-out;
}

.nav-button:hover {
  background-color: #39427a;
  opacity: 1;
  transition: background-color .75s, border 1s, ease-in-out;
}
