.resortsSidebar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 275px;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, .95);
}

/*ul*/
.resorts-list {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: rgba(255, 255, 255, .0);
}

.resorts-header-active, .resorts-header-inactive {
  font-size: 30px;
  padding: 8px 0 8px 5px;
}

.resorts-header-active:hover, .resorts-header-inactive {
  filter: brightness(85%);
  transition: filter 0.1s ease-in-out;
}

.resorts-list-item, .resorts-list-item-active {
  font-size: 20px;
  padding: 8px 0 8px 25px;
}

.resorts-list-item {
  cursor: pointer;
}

.resorts-list-item-active {
  background-color: rgba(0, 0, 0, 0.15);
}

.resorts-list-item:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.resorts-list-link {
  color: black;
  height: 100%;
  width: 100%;
}
