.resorts-events {
  width: 100%;
  height: 100%;
}

.resorts-detail-wrapper {
  position: absolute;
  left: 275px;
  height: 100%;
  width: calc(100% - 275px);
  background-color: rgba(110, 158, 212, .7);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.resorts-detail-wrapper-landing {
  position: absolute;
  left: 275px;
  height: 100%;
  width: calc(100% - 275px);
  background-color: rgba(110, 158, 212, .7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.resorts-landing {
  height: auto;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 40px 15px 40px 15px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.75);
}

h1.event-item-title {
  width: auto;
  margin: -10px 0 15px 0;

}

h1.event-item-title.entry {
  width: auto;
  margin-bottom: 40px;
}

.resort-detail {
  flex: none;
  width: 85%;
  height: auto;
  min-height: auto;
  margin: 30px 0;
  background-color: rgba(255, 255, 255, 0.90);
  padding: 15px 15px 40px 15px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.resort-logo-detail {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.resort-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  height: 8%;
  padding: 12px 25px;
  transition: filter 0.2s ease-in-out;
}

.resort-address {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;
  font-size: 20px;
}

.resort-address h2 {
  width: auto;
}

.resort-description {
  height: auto;
  width: 75%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 20px;
  line-height: 150%;
  margin: auto;
}

.resort-description p {
  height: inherit;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.more-resort-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.more-resort-info:hover {
  filter: brightness(85%);
  transition: filter 0.2s ease-in-out;
}

.resort-events-detail {
  width: 85%;
  min-width: auto;
  padding: 15px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 16px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.90);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.resort-events-container {
}

.events-header {
  width: 100%;
  margin-bottom: 15px;
  height: 36px;
  font-size: 30px;
  font-weight: bold;
}

/*events container*/
.resort-events {
  height: auto;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
}

.event-item {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 10px;
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.75);
  height: 225px;
  width: 225px;
  transition: filter 0.2s ease-in-out;
}

a.event-item:hover {
  background-color: rgba(73, 232, 33, 0.5);
}

.event-item-waitlist {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 10px;
  color: rgba(0, 0, 0, 0.75);
  height: 225px;
  width: 225px;
  transition: filter 0.2s ease-in-out;
}

a.event-item-waitlist:hover {
  background-color: rgba(255, 174, 44, 0.75);
}

.event-item-title {
  font-weight: bold;
  line-height: 125%;
  text-align: center;
  font-size: 20px;
  width: 200px;
  margin: auto;
}

.plus {
  width: auto;
  height: auto;
  margin: 10px 0 29.75px 0;
}

.arrow {
  width: auto;
  height: auto;
  margin: -45px 0 10px 0;
}

.event-item-host {
  height: 110px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-right: 15px;
  margin-left: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.event-item-day-name {
  text-align: center;
  padding: 0;
  padding-top: 10px;
}

.event-item-date {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.event-item-host-name {
  width: auto;
  padding: 0;
  padding-top: 5px;
  text-align: center;
}

.host-info {
  position: relative;
  right: 0;
  top: -15px;
}

.host-mini {
  height: 75px;
  width: 75px;
  background-color: white;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.75);
}

.spots-left {
  position: relative;
  margin: auto;
  height: auto;
  bottom: 0;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

p {
  padding: 7px;
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
}
